/*
    David Sosa
    CPSC 332 - Web Development
    Homework 4 - More CSS
    Last Modified: October 2, 2024
*/

/* entire file */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
    margin: 0;
    height: 100vh;
}

/* header */
.header-text {
    background-color: orange;
    color: rgb(172, 58, 210);
    text-align: center;
    font-family: myFontFamily, Helvetica, sans-serif;
}

/* fonts */
@font-face {
    font-family: myFontFamily;
    src: url(fofbb_ital.otf);
}

/* main body */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    flex: 0 1 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    text-align: center;
    font-family: myFontFamily, Helvetica, sans-serif;
}

.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 0;
    max-width: 140px;
    background-color: #7b7b7b;
    border: 3px solid orange;
    border-radius: 5%;
    transition: background-color 0.5s, transform 0.5s;
}

.item:hover {
    background-color: orange;
    border: 3px solid #7b7b7b;
    transform: translateY(-5px);
}

/* footer */
footer {
    background-color: #7b7b7b;
}

.footer-text {
    text-align: center;
    color: orange;
    font-family: myFontFamily, Helvetica, sans-serif;
}
